body{
    font-family: 'Poppins', sans-serif; 
  }

header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.banner{
    width: 968px;
    height: 288px;
    left: 236px;
    top: 116px;
}

.tombol{
    padding: 4px 8px;
    gap: 8px;
    
    width: 117px;
    height: 46px;
    
    background: #7126B5;
    color: white;
    border-radius: 12px;
}

.search{
    padding: 12px 24px;
    gap: 16px;

    width: 444px;
    height: 48px;
    left: 260px;
    top: 18px;

    background: #EEEEEE;
    border-radius: 16px;
}

.kategori{
    padding: 4px 8px;
    gap: 8px;
    
    width: 117px;
    height: 46px;
    
    background:  #E2D4F0;
    color: #3C3C3C;
    border-radius: 12px;
    cursor: pointer;
}

button.active, .kategori:hover{
    background: #7126B5;
    color: white;
}

.owl-item.active.center .item {
    transform: scale(1.5);
  }

.item{
    margin: 4rem;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
}

.kategori{
    width: 150px;
}

@media (max-width: 426px) {
    .icon{
        display: none;
    }

    header{
        box-shadow: none;
    }

    .search{
        display: block;
        width: 100%;
    }
}

@media (max-width: 769px) {
    .icon{
        display: none;
    }

    .search{
        display: block;
        width: 100%;
    }
}